# Database - PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5432/shaahi_pos"

# NextAuth
NEXTAUTH_SECRET="your-super-secret-key-here-change-in-production"
NEXTAUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_NAME="Shaahi Biryani POS"
NEXT_PUBLIC_CURRENCY="PKR"
NEXT_PUBLIC_CURRENCY_SYMBOL="₨"
